
/**
 * app.css
 *
 * Contains app colors and
 * app-wide styles.
 *
 */

/* APP-COLORS */

:root {

  --main-light-color: 255, 255, 255;
  --main-dark-color: 0, 0, 0;
  --accent-primary-color: 0, 123, 255;
  --accent-secondary-color: 225, 245, 254;

  --main-light: rgb(var(--main-light-color));
  --main-dark: rgb(var(--main-dark-color));
  --kbd-light-bg: rgb(238, 238, 238);
  --kbd-light-ol: rgb(221, 221, 221);
  --kbd-light-ds: rgb(170, 170, 170);

  --accent-primary-background: rgb(var(--accent-primary-color));
  --accent-primary-foreground: var(--main-light);

  --accent-secondary-background: rgb(var(--accent-secondary-color));
  --accent-secondary-foreground: var(--main-dark);

  --overlay-translucent-background: rgba(var(--main-light-color), .6)

}

/* APP-WIDE styles */

/* let app-container use full screen dimensions */
#app {

  width: 100vw;
  height: 100vh;

}

#app section {
  max-width: 850px;
  margin: 0.5rem auto;
}

/* hides the cursor and disable hover styles, if set in document body */
.cursor-off {

  cursor: none;
  & * {
    pointer-events: none;
  }

}

/* depicts a keyboard-shortcut */
kbd[sym] {

  background: var(--kbd-light-bg);
  outline: 1px solid var(--kbd-light-ol);
  box-shadow: 2px 2px var(--kbd-light-ds);
  font-size: 1.5em;
  padding: .2rem .4rem .1rem .2rem;
  text-transform: uppercase;
  margin: 0 .5rem;

}